body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  text-align: justify;
}

#encabezado {
  background-color: white;
  color: #1B396A;
  padding: 30px 20px;
  text-align: center;
  font-size: 240px;
}

.logo-img {
  position: absolute;
  top: 0;
  right: 35px;
  margin: 15px;
  width: 80px;
}

.logo-img:hover {
  opacity: 0.8;
}

.logo-img-tecnm {
  position: absolute;
  top: 0;
  left: 15px;
  margin: 15px;
  width: 180px;
}

.logo-img-tecnm:hover {
  opacity: 0.8;
}

h1 {
  margin: 0;
  font-size: 36px;
}

#contenido {
  margin-top: 10px;
  text-align: justify;
  padding: 20px;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1B396A;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

/* Estilos para el pie de página */

footer {
  background-color: #1B396A;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px 0; /* Ajusta el relleno superior e inferior según sea necesario */
  margin: 0;
}


/* Contenedor del menú  incio*/
.navbar {
  background-color: #1B396A;
  top: 10px;
  /* Ajusta este valor según la altura de tu encabezado */
  height: 40px;
  width: 100%;
  color: white;
  text-align: center;
}

/* Estilo de los enlaces */
.navbar a {
  text-align: center;
  color: #fff;
  /* Color de texto */
  padding: 10px 10px;
  /* Espaciado interno */
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
  /* Añadir bordes redondeados */
  transition: 0.4s;
  /* Transición suave */
}

/* Al pasar el mouse */
.navbar a:hover {
  color: #6F7271;
}

.navbar a img {
  vertical-align: middle;
  /* Alinea verticalmente la imagen */
  max-width: 100px;
  /* Establece el ancho máximo de la imagen */
  height: auto;
  /* Hacer la imagen sensible al tamaño */
  margin-right: 5px;
  /* Ajusta el margen derecho para separar la imagen del texto */
}

.navbar a img:hover {
  filter: brightness(0.8);
  /* Aplica un filtro de brillo al pasar el ratón */
  transition: 0.4s;
}