  @media only screen and (max-width: 768px) {

    .logo-img,
    .logo-img-tecnm {
      display: none;
    }

    .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #1B396A;
      width: 100%;
      color: white;
      text-align: center;
      position: relative;
      height: 40px;
    }

    .navbar a img {
      vertical-align: middle;
      max-width: 100px;
      height: auto;
      margin-right: 4px;
    }

    .menu-toggle {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 25px;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
    }

    .menu-items {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #1B396A;
      flex-direction: column;
      align-items: center;
      z-index: 1;
    }

    .menu-items a {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-size: 25px;
      padding: 10px;
      transition: 0.4s;
    }
  }