@media only screen and (max-width: 768px) {

    /* Ocultar las imágenes del logo en el encabezado */
    .logo-img,
    .logo-img-tecnm {
        display: none;
    }

    #encabezado {
        background-color: white;
        color: #1B396A;
        text-align: center;
        padding: 30px 20px;
    }

    h1 {
        margin: 0;
        font-size: 30px;
    }

    /* Contenedor del slideshow */
    .slideshow-container {
        display: none;
    }

    /* Botones de siguiente y anterior */
    .prev,
    .next {
        display: none;
    }

    .item-especialidad {
        width: 100%;
        /* Solo un elemento por fila */
    }


    .item-especialidad:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .imagen-especialidad {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 500px;
        height: 350px;
        object-fit: cover;
    }

    .titulo-especialidad {
        color: #333;
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .informacion {
        color: #777;
        font-size: 1rem;
        line-height: 1.5;
        margin: 20px;
        padding: 20px;
        text-align: justify;
        transition: all 0.3s ease-in-out;
    }

    .item-especialidad:hover .informacion {
        color: #333;
    }

    .item-especialidad p:last-child {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }

    #habitos {
        display: none;
    }

    #explora-aprende {
        display: none;
    }

    section {
        padding: 30px;
    }

    .menu-items {
        display: none;
        /* Ocultar menú normal en dispositivos móviles */
    }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown button {
        background: none;
        border: none;
        color: inherit;
        font-size: inherit;
        cursor: pointer;
        padding: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: black;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}