/* Estilos generales */

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #e6e3e3;
}

/* Estilos para el encabezado */

header {
  background-color:#0072C6; 
  color: rgb(255, 255, 255);
  padding: 10px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* cambio de letra titulo */
.cambio-de-letra-titulo {
  text-align:justify;
  font-size: 20px;
  color: white;
}

/* conozca su salud punto viñeta */
.punto-lista {
  list-style-type: disc;
}

/* punto viñeta conozca su salud*/
.punto-lista-salud {
  list-style-type: disc;
}

/* punto viñeta cardiologia*/
.punto-lista-cardiologia{
  list-style-type: disc;
}

/* Estilos para el botón de menú en dispositivos móviles */

.menu-icon {
display: none;
}

h1 {
margin: 0;
font-size: 36px;
}

nav ul {
display: none;
position: absolute;
top: 70px;
left: 0;
width: 100%;
background-color: #0072C6;
padding: 20px;
text-align: center;
}

nav li {
margin: 10px 0;
}

nav a {
color: white;
font-size: 20px;
}

/* Estilos para las secciones */

section {
padding: 50px;
background-color: #f9f9f9;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 10px;
margin-bottom: 20px;
}

/* Estilos para los botones */

button {
background-color: #4CAF50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 8px;
}

button:hover {
background-color: #005da8;
}

h2 {
font-size: 24px;
margin-top: 0;
}

ul {
list-style: disc;
margin-left: 20px;
}

/* Estilos para el pie de página */

footer {
background-color: #0072C6;
color: white;
padding: 30px;
text-align: center;
}

/* Estilos para los bloques de cotización */

blockquote {
border-left: 5px solid #0072C6;
margin: 20px 0;
padding: 10px 20px;
font-style: italic;
}

/* Estilos para los enlaces */

a {
color: #0072C6;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* Estilo de los puntos de navegación */

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* inicio introducción*/
#intro {
  margin-bottom: 30px;
}

/*portada imagen */

.portada-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px; /* imagen sistemas computacionles */
  padding: 15px; /* agregar espacio */
}

.portada-imagen {
  max-width: 100%;
  max-height: 100%;
}


/*boton especialidades*/

.boton-mostrar {
  background-color: #0072C6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.informacion {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 5px;
  border-radius: 8px;
}


/* eslaider */

/* Contenedor del slideshow */
.slideshow-container {
  margin-top: 50px;
  width: 500px;
  height: 500px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

  
  /* Ocultar las imágenes por defecto */
  .mySlides {
    display: none;
  }
  
  /* Botones de siguiente y anterior */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Posicionar el botón "siguiente" a la derecha */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Al pasar el cursor por encima, agregar un color de fondo negro con un poco de transparencia */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Texto de la leyenda */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* Los puntos/indicadores */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Estilos de punto activo o cuando se pasa el cursor por encima */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Animación de fundido */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  /* información texto */
  .informacion {
	display: none;
}

/* logo */

/* Alinea el contenedor del logo a la derecha */
.logo-container {
  float: right;
  margin-right: 5px;
}

/* Establece el ancho máximo y la altura se ajusta automáticamente */
.logo {
  width: auto;
  height: auto;
  max-height: 85px;
  margin-right: 20px; /* Puedes ajustar el valor según el espacio que desees */
}
.logo1 {
  width: auto;
  height: auto;
  max-height: 80px;
}

/* inicio sección info */

#info {
  margin-top: -40px; 
}

/* inicio buenos hábitos */

li:hover {
  cursor: pointer;
}

/* Buenos hábitos */

#especialidades {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.titulo-seccion {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.lista-especialidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-especialidad {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.item-especialidad:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.imagen-especialidad {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
    height: 350px;
    object-fit: cover; /*la imagen se ajusta dentro de las dimensiones especificadas sin deformarse */
}

.titulo-especialidad {
  color: #333;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.informacion {
  color: #777;
  font-size: 1rem;
  line-height: 1.5;
  margin: 20px;
  padding: 20px;
  text-align: justify;
  transition: all 0.3s ease-in-out;
}

.item-especialidad:hover .informacion {
  color: #333;
}

.item-especialidad p:last-child {
  padding-left: 20px; 
  padding-right: 20px;
  text-align: justify;
}

/* Explora y Aprende */

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 48%;
}

.category {
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.category h3 {
  margin-top: 0;
}

.category img {
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.category img:hover {
  transform: scale(1.1);
}

.category ul {
  list-style-type: none;
  padding: 0;
}

.category ul li {
  margin-bottom: 10px;
}

.category ul li a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.category ul li a:hover {
  color: #009688;
}

/* Estilos para la ventana modal */
.modal {
  display: none; /* Oculta la ventana modal por defecto */
  position: fixed; /* Permite que la ventana modal sea posicionada encima del contenido */
  z-index: 1; /* Establece la capa más alta para la ventana modal */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite desplazamiento si el contenido de la ventana modal es demasiado grande */
  background-color: rgba(0,0,0,0.5); /* Fondo semi-transparente */
}

/* Estilos para el contenido de la ventana modal */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Centra vertical y horizontalmente el contenido */
  padding: 20px;
  border-radius: 10px; /* Añade bordes redondeados */
  max-width: 600px; /* Ancho máximo */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Añade sombra */
}

.modal-content strong {
  font-weight: bold;
  color: black;
}

/* Estilos para la imagen dentro de la ventana modal */
#modal-image {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 40vh; /* Establece una altura máxima relativa al 80% del alto de la ventana */
  width: auto; /* Ajusta automáticamente el ancho para mantener la proporción */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  display: block; /* Muestra la imagen como bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos para los párrafos dentro del contenido de la ventana modal */
.modal-content p {
  margin-bottom: 10px; /* Espacio entre párrafos */
}


/* Estilos para el botón de cierre (x) */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}


/* Contenedor del menú  incio*/
.navbar {   
  list-style: none;            
  background-color: #cec0c0;  
  text-align: center;         
  padding: 1px;               
}

/* Estilo de los enlaces */
.navbar a {    
  display: inline-block; /* Mostrar como bloque */  
  color: #fff;          /* Color de texto */    
  padding: 10px 20px; /* Espaciado interno */
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px; /* Añadir bordes redondeados */
  background-image: url('imagen_de_boton.png'); /* Agregar imagen de fondo */
  background-size: cover; /* Ajustar tamaño de la imagen de fondo */
  transition: 0.4s;   /* Transición suave */
} 

/* Al pasar el mouse */
.navbar a:hover {   
  background-color: #ddd; 
  color: #000;         
}

  /* Contenedor del menú fin */

/* espacio del mapa xd */
.mapa-espacio { 
  margin-bottom: 50px;
}

/* Buenos hábitos */
#paquetes {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.packages {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.package {
  width: calc(33.33% - 30px);
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(163, 41, 108, 0.979);
  text-align: center;
  transition: all 0.3s ease;
}

.package:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.package img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.package h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.package ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.package li {
  margin-bottom: 10px;
  color: #000000;
  font-size: 16px;
}

.package.buenos-habitos {
  text-align: left;
}

.package.dieta {
  background-color: #54c48cc5; 
}

.package.descansar {
  background-color: #87CEEB; 
}

.package.ejercicio {
  background-color: #FFD700; 
}

.package.relaciones {
  background-color: #ff0a0ab4; 
}

.package.apoyo {
  background-color: #c01fb3; 
}